html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  padding: 13em 1em 2em;
}

.robot {
  position: relative;
  width: 320px;
  margin: 0 auto;
  right: .5em;
  top: -9.5em;
}

.robot-body {
  width: 320px;
  position: absolute;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 8em;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: -2.3em;
}

.robot-head-left {
  position: absolute;
  right: 160px;
}

.robot-head-right {
  position: absolute;
  left: 160px;
}
