html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
}

.robot {
  width: 320px;
}

.robot-body {
  width: 320px;
  position: absolute;
  top: 53px;
}

.robot-brain {
  width: 46px;
  top: 53px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 15px;
}

.robot-head-left {
  position: absolute;
  right: 160px;
}

.robot-head-right {
  position: absolute;
  left: 160px;
}
